@{
    ViewBag.Title = "Account";
    Layout = "_Layout";
}

@model AccountShowAccountViewModel


<form style="
     position:fixed;
     left:50%;
     transform: translateX(-50%);
     ">
    <div><h2>Account name: @Model.player.Name</h2></div>
    <div><h2>Cash @Model.player.Cash</h2></div>
    <div>Choose rate</div>
    <div><input type="number" name="rate"></div>
    <div>Choose type of rate</div>
    <div>
        <select name="typeRate">
            <option disabled>Choose type of rate</option>
            <option value=1>Zero</option>
            <option value=2>Color</option>
            <option value=3>Section</option>
        </select>
    </div>
    <div>@Model.Message</div>
    <button style="margin-left:10px" asp-action="Start" asp-route-rate="rate" asp-route-typeRate="typeRate" asp-route-id="id">Start</button>
    <button style="margin-left:10px" asp-action="Log_out">Log out</button>
    <input hidden="hidden" name="id" value="@Model.player.Id" />
</form>