<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
</head>
<body style="background-color:black;color:purple">
    <div style="margin-top:5%;font-size:500%;text-align:center;color:purple;font-family:Algerian;">
      Casino
     </div>
    <div style="margin-top:5%">
        @RenderBody()
    </div>
</body>
</html>
