@{
    ViewBag.Title = "Authentication";
    Layout = "_Layout";
}

@model AuthIndexViewModel



<form style="
    margin-left: 15%;
     font-size:x-large;
     display: flex;
     align-items: center;
     justify-content: center
    ">
    <table style="width:50%;">
        <tr><td style="color:blueviolet;padding-left:10px">Enter Name and password </td></tr>
        <tr><td style="font-display:block;font-size:2px"> <br /></td></tr>
        <tr>
            <td>
                <input style="width:60%;background-color:dimgray;color:azure" type="text" placeholder="Name" name="username" />
                <div style="position:page;">
                    @if (Model.Message != "")
                    {
                        @Model.Message
                    }
                </div>
            </td>
        </tr>
        <tr><td style="font-display:block;font-size:1px"> <br /></td></tr>
        <tr>
            <td><input style="width:60%;background-color:dimgray;color:azure" type="password" placeholder="Password" name="password" /></td>
        </tr>
        <tr><td style="font-display:block;font-size:5px"> <br /></td></tr>
        <tr>
            <td>
                <button style="width:25%;margin-left:3%;background-color:dimgray;color:azure" asp-action="Log_in" asp-route-username="username" asp-route-password="password">Log in</button>
                <button style="width:25%;margin-left:5%;background-color:dimgrey;color:azure" asp-action="Log_on" asp-route-username="username" asp-route-password="password">Registrate</button>
            </td>
        </tr>
    </table>
</form>
